// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$light-background-color: rgb(120, 115, 140);

$dark-background-color: rgb(250, 240, 220);
/* $dark-background-color: rgb(255, 250, 237); */
/* $dark-background-color: rgb(100, 160, 145); */

$not-so-dark-background-color: rgb(90, 25, 25);

$text-color-light: rgb(210,210,210);
$text-color: rgb(50,50,50);

$weird-orange: rgb(230, 111, 80);

/* $dark-orange: rgb(90, 25, 25); */
/* $dark-orange: rgb(125, 53, 53); */
$dark-orange: rgb(128, 47, 47);

$cool-orange: rgb(236,105,26);
$light-orange: rgb(229,160,0);
$cool-red: rgb(222,0,42);
$cool-green: rgb(0,191,112);

$full-icon: rgba(90,25,25,0.15);
$full-bg: rgba(236,105,26,0.2);

$onquest-icon: rgba(70,132,192,0.25);
$onquest-bg: rgba(200,200,210,0.2);

$button-color-1: desaturate(darken($cool-orange, 5%), 15%);//rgb(149,133,75);
$button-color-2: desaturate(darken($cool-green, 10%), 0%);;//rgb(93,127,94);

.navbar-brand {
  font-size: 24px;
  padding-top: 5px;
}

.navbar-brand img, .navbar-brand div{
  display:inline-block;
  vertical-align: middle;
}

.title-icon {
  width: 75px;
  height: auto;
}
.navbar-static-top {
    min-height: 100px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 100px;
    font-size: 18px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;}
    .navbar-collapse {
      margin-top: 52px;
    }
}

.btn-sm.btn-primary {
  margin-top: 7px;
}

#hall-table {
  cursor:pointer;
  cursor:hand;
}
#roomCheckboxes {
  margin-top: 4px;
}

label{
  font-size: 110%;
}

h3 {
  margin-top: 0px;
}

ul {
  padding-left: 20px;
}

hr {
  border-top-color: $cool-orange;
}

th {
  border-bottom-color: $cool-orange !important;
}

.inner {
   z-index: 2;
}

.row-full {
  background-color: $full-bg;
}
.wrap-full:after {
  content: "\f0c0";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 44px;
  color: $full-icon;
  top: 3%;
  right: 10%;
  z-index: 1;
}
.row-onquest {
  background-color: $onquest-bg;
}
.wrap-onquest:after {
  content: "\f08b";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 61px;
  color: $onquest-icon;
  top: -14%;
  right: 5%;
  z-index: 1;
}
td{
  position: relative; /* Needed for pseudo elem */
}
#full-legend  {
  color: rgba($full-icon, 0.8);
}

#onquest-legend {
  color: rgba($onquest-icon, 0.8);
}

.panel-body h3  {
  color: $text-color-light;
}

#form-message {
  color: $text-color-light;
}

.modal-content {
  background-color: $dark-orange;
  border: 0;
}
.modal-header {
  color: $text-color-light;
  border-bottom-color: $cool-orange;
}
.modal-footer {
  border-top-color: $cool-orange;
}
.modal-body {
  color: $text-color-light;
}
.modal-body .rdtPicker {
  color: rgb(50,50,50);
}

.form-group {
  color: $text-color-light;
}
.modal-body hr  {
  border-top-color: $cool-orange;
}

.bootstrap-datetimepicker-widget  {
  color: $text-color;
}

.vertically-stretched-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.vertical-stretch {
  flex: 1;
  overflow: auto;
}

.circle {
  // fill: $cool-green;
  stroke-width: 2px;
  stroke: $cool-green;
  fill-opacity: 1;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.family-titles{
  margin-top: 5px;
  margin-bottom: 0;
}

.list-normal{
  // width: inherit;
  list-style-type: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-highlight{
  margin-left: -1em;
  list-style-type: none;
  font-weight: bolder;
  cursor: pointer;
  word-wrap: break-word;
  white-space: normal;
}

.list-highlight:before{
  content: "\00BB \0020 \0020 ";
}

// .list-highlight:before {
//     color: white;
//     content: "";
//     border-color: transparent white;
//     border-style: solid;
//     border-width: 0.30em 0 0.30em 0.40em;
//     display: block;
//     height: 0;
//     width: 0;
//     left: -1em;
//     top: 0.9em;
//     // bottom: 0em;
//     position: relative;
// }

.list-normal:hover{
  text-decoration: underline;
}

/* always present */
.fade-transition {
  transition: all 4s ease;
  opacity: 1;
}

.debug-colors {
  background-color: deeppink;
  border: 2px dotted green;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.fade-enter, .fade-leave {
  opacity: 0;
}

.navbar-default {
  background-color: $dark-orange;
  border: 0;
}

.navbar-default .navbar-brand {
  // color: rgb(49, 48, 66);
  color: $cool-orange;
}
.navbar-default .navbar-nav>li>a {
  // color: rgb(49, 48, 66);
  color: $cool-orange;
}
.panel-default>.panel-heading {
  background-color: $button-color-1;
  border-color: $button-color-1;
}

// .btn {
//   outline: none;
//   -webkit-tap-highlight-color: adjust-color($button-color-1, $lightness: +30%);
//   outline-color: adjust-color($button-color-1, $lightness: +30%);
// }

.btn-primary {
  // background-color: rgb(149,133,75);
  // border-color: rgb(149,133,75);
  background-color: $button-color-1;
}

.btn-primary:hover {
  background-color: adjust-color($button-color-1, $lightness: +20%);
}

.btn-primary:focus {
  // outline: 0;
  background-color: adjust-color($button-color-1, $lightness: +10%);
}


.btn-primary:active, .btn-primary:active:focus {
  // outline: 0;
  background-color: adjust-color($button-color-1, $lightness: -5%);
}

.btn-primary[disabled]:hover {
  background-color: $button-color-1;
}

.btn-primary.toggled-button{
  background-color: adjust-color($button-color-1, $lightness: -5%);
  box-shadow: inset 2px 4px 4px rgba(0,0,0,.6);
}

.btn-success {
  // background-color: rgb(93,127,94);
  // border-color: rgb(93,127,94);


  background-color: $button-color-2;
}

.btn-success:hover {
  background-color: adjust-color($button-color-2, $lightness: +20%);
}

.btn-success:focus {
  background-color: adjust-color($button-color-2, $lightness: +10%);
}

.btn-success:active, .btn-sucess:active:focus {
  background-color: adjust-color($button-color-2, $lightness: -5%);
}

.btn-success[disabled]:hover {
  background-color: $button-color-2;
}

.btn-breeding {
  border: 0px;
  margin-bottom: 5px;
  // display: block;
  width: 100%;
}

// .btn-breeding[disabled] {

// }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: $text-color;
  background-color: $dark-background-color;
}
.panel {
  padding: 7px;
  background-color: $dark-orange ;
}

.panel-filter {
  // padding: 30px;
}

.multi-range {
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.badge {
  cursor: pointer;
  background-color: $cool-orange;
}

#chart {
  background-color: white;
}

.word-art {
  text-shadow: rgb(99, 176, 84) 0px 1px 0px, rgb(99, 176, 84) 0px 2px 0px, rgb(99, 176, 84) 0px 3px 0px, rgb(99, 176, 84) 0px 4px 0px, rgba(0, 0, 0, 0.2) 0px 5px 1px, rgba(0, 0, 0, 0.298039) 0px 0px 10px, rgba(0, 0, 0, 0.4) 0px 3px 5px, rgba(0, 0, 0, 0.498039) 0px 6px 5px, rgba(0, 0, 0, 0.6) 0px 10px 10px
}

.save-section{
  width: inherit;
  z-index: 100;
  // background-color: $dark-background-color;
  position: fixed;
  bottom: 0px;
}

.pusher {
  height: 200px;
}

.color-legend {
  background-color: white;
}

.color-legend-gradient {
  margin: 5px;
  margin-right: 0px;
  width: 50px;
  height: 150px;
  // display: block;
}

.color-legend-label {
  // background-color: grey;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
  // display: block;
  height: 150px;
  position: relative;
}

.color-legend-text-max {
  // background-color: yellow;

  color: black;
  margin: 0;
  position: absolute;
  top: 0px;
}

.color-legend-text-min {
  // background-color: yellow;

  color: black;
  margin: 0;
  position: absolute;
  bottom: 0px;
}